@import url('./css/fonts.css');
@import url('./css/reset.css');
@import '../node_modules/modern-normalize/modern-normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 500;
  background-color: rgb(233, 235, 240);
  color: #242a37;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.MuiChartsAxis-tickLabel {
  display: none;
}

.MuiChartsAxis-line {
  stroke: #b1b5c2 !important;
}

.MuiChartsLegend-series {
  display: none;
}

.css-149t9ze-MuiChartsSurface-root {
  transform: translateY(20px) scale(1.3);
}

.react-datepicker__tab-loop {
  position: absolute;
  width: 160px;
}

table {
  scrollbar-width: thin;
}
